:root{
    --bgc:#212226;
    --ncol:#29fd53;
    --hovcol:#35b44f;
    --text:#fff;
    --sidebar:rgb(26, 26, 26);
    --txtsz:2em;
    --transpeed:0.5s;
    --bgpic1: url("Images/genericBackground1.jpg");
    --bgpic2:url("Images/genericBackground2.jpg");
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    background-color: var(--bgc);
}

.sidebar{
    top: 0;
    left: 0;
    position: fixed;
    margin-top: 5%;
    margin-bottom: 5%;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 15vh;
    height: 80vh;
    font-weight: 500;
    background-color: var(--sidebar);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sidebar ul{
    display: grid;
    align-items: center;
    height: 100%;
}

.sidebar ul li{
    width: 100%;
    display: grid;
    align-items: center;
    list-style: none;
    transition: var(--transpeed);
}

.sidebar ul li a{
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
}

.sidebar ul li a .text{
    text-align: center;
    color: var(--text);
    font-weight: 450;
    font-size: var(--txtsz);
    transition: var(--transpeed);
    opacity: 0;
    grid-row: 1;
    grid-column: 1;
    transform: translateY(20px);
    margin-left: 5px;
    margin-right: 10px;
}

.sidebar ul li:hover a .text{
    color: var(--hovcol);
    opacity: 1;
}

.sidebar ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    text-align: center;
    font-size: var(--txtsz);
    color: var(--text);
    transition: var(--transpeed);
    grid-row: 1;
    grid-column: 1;
}

.sidebar ul li:hover a .icon{
    transform: translateY(-10px);
    color: var(--hovcol);
}

a{
    text-decoration: none;
}

a:link{
    color: var(--bgc);
}


.sidebar ul li.active a .icon{
    color: var(--ncol);
}

.sidebar ul li.active a .text{
    color: var(--ncol);
}                                                                    

.parralax{
    background-image: var(--bgpic1);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parralax2{
    background-image: var(--bgpic2);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textSection{
    height: 50vh;
}