:root{
    --bgc:#1d1d1d;
    --textc:#515152;
    --containerblack:#141414;
    --maintxtc:white;
    --sidetxtc:rgb(148, 148, 148);
    --ncol:#02f093;
    --tagSize: 1.5rem;
    --mainTxtSize: ;
    --dynamicTxtSize: ;
}

*{
    margin: 0;
    padding: 0;
}

*::before{
    font-family: laBelleAurore;
    font-size: var(--tagSize);
    position: absolute;
    top: -1.5em;
    left: -1em;
    color: var(--textc);
    font-weight: normal;
}

*::after{
    font-family: laBelleAurore;
    font-size: var(--tagSize);
    position: absolute;
    left: -1em;
    bottom: -1.5em;
    color: var(--textc);
    font-weight: normal;
}

@font-face{
    font-family: pacifico;
    src: url('../fonts/Pacifico.eot');
    src: url('../fonts/Pacifico.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Pacifico.woff2') format('woff'),
         url('../fonts/Pacifico.woff2') format('woff2'),
         url('../fonts/Pacifico.ttf') format('truetype'),
         url('../fonts/Pacifico.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: laBelleAurore;
    src: url("../fonts/LaBelleAurore-Regular.eot");
    src: url('../fonts/LaBelleAurore-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LaBelleAurore-Regular.woff2') format('woff'),
         url('../fonts/LaBelleAurore-Regular.woff2') format('woff2'),
         url('../fonts/LaBelleAurore-Regular.ttf') format('truetype'),
         url('../fonts/LaBelleAurore-Regular.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: CarterOne;
    src: url("../fonts/CarterOne-Regular.eot");
    src: url('../fonts/CarterOne-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CarterOne-Regular.woff2') format('woff'),
         url('../fonts/CarterOne-Regular.woff2') format('woff2'),
         url('../fonts/CarterOne-Regular.ttf') format('truetype'),
         url('../fonts/CarterOne-Regular.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: var(--bgc);
}

.wrapper{
    position: relative;
    background-color: var(--bgc);
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.secondWrapper{
    margin-left: 1rem;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: var(--bgc);
}

.pTag::before{
    content: "<p>";
}

.pTag::after{
    content: "</p>";
}

.hTag::before{
    content: "<h1>";
}

.hTag::after{
    content: "</h1>";
}

.styleTag::before{
    content: "<style>"
}

.styleTag::after{
    content: "</style>"
}

.tag{
    color: var(--textc);
    font-family: laBelleAurore;
    font-size: var(--tagSize);
    font-weight: normal;
}

.tagTags{
    position: absolute;
    top: 0;
    left: 0;
}

.bottomTags{
    position: absolute;
    bottom: 0;
    left: 0;

}

.topTags::after{
    position: absolute;
    content: "<body>";
    left: 1.5em;
}

.bottomTags::before{
    position: absolute;
    content: "</body>";
    left: 1.5em;
}

.sections{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: var(--bgc);
    margin: 8rem 5rem;
}

.maintext{
    text-align: left;
    color: var(--maintxtc);
    font-size: 5rem;
    font-family: CarterOne;
    height: 100%;
    display: inline-block;
}

.textWrapper{
    z-index: 1;
    position: relative;
    left: 6em;
    width: max-content;
    height: fit-content;
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.top{
    margin-top: 1rem;
    position: absolute;
    margin-bottom: 2em;
}

.bottom{
    margin-bottom: 1rem;
    position: absolute;
    bottom: 0;
    margin-top:2em;
}

.sidetext{
    color: var(--sidetxtc);
}

.text{
    font-family: pacifico;
}

.list{
    list-style: none;
    width: 100%;
    height: 12rem;
    overflow: hidden;
    line-height: 4rem;
}

.animationWrapper{
    top: 50%;
    display: flex;
    flex-direction: column;
    height: 4rem;
}

.brackets{
    text-align: left;
    color: var(--maintxtc);
    font-size: 3rem;
    font-family: Consolas;
    height: 100%;
    display: inline-block;
}

.dynamic-text{
    margin-left: 0.3rem;
    font-family: Consolas;
    position: relative;
    color: var(--ncol);
}

.dynamic-text::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-left: 0.1rem solid var(--ncol);
    background: var(--bgc);
    animation: typing 1.5s steps(14) infinite;
}

.element{
    position: relative;
    top: 0;
    animation: nextElement 6s steps(4) infinite;
    display: flex;
}

.navbar{
    width: 7rem;
    height: 100%;
    background-color: var(--containerblack);
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 1rem;
    z-index: 1;
}

@keyframes typing {
    100%{
        left:110%;
    }
}

@keyframes nextElement{
    100%{
        top: -16rem;
    }
}

@keyframes SQUISH{
    100%{
        font-size: ;
    }
}