:root{
    --bgc:#1d1d1d;
    --textc:#515152;
    --containerblack:#141414;
    --maintxtc:white;
    --sidetxtc:rgb(148, 148, 148);
    --ncol:#02f093;
    --tagSize: 1.5rem;
    --mainTxtSize: 5rem;
    --bracketfontsize: 2.5rem;
    --navbarwidth: 8rem;
    --navbarfontsize: 1.5rem;
    --navbarmargin: 1rem;
    --textWrapperMarginLeft: 9rem;
}

*{
    margin: 0;
    padding: 0;
}

*::before{
    font-family: laBelleAurore;
    font-size: var(--tagSize);
    position: absolute;
    top: -1.5em;
    left: -1em;
    color: var(--textc);
    font-weight: normal;
    z-index: 2;
}

*::after{
    font-family: laBelleAurore;
    font-size: var(--tagSize);
    position: absolute;
    left: -1em;
    bottom: -1.5em;
    color: var(--textc);
    font-weight: normal;
    z-index: 2;
}

@font-face{
    font-family: pacifico;
    src: url("./fonts/Pacifico.eot");
    src: url("./fonts/Pacifico.eot?#iefix") format('embedded-opentype'),
         url("./fonts/Pacifico.woff2") format('woff'),
         url("./fonts/Pacifico.woff2") format('woff2'),
         url("./fonts/Pacifico.ttf") format('truetype'),
         url("./fonts/Pacifico.eot") format('eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: laBelleAurore;
    src: url("./fonts/LaBelleAurore-Regular.eot");
    src: url('./fonts/LaBelleAurore-Regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/LaBelleAurore-Regular.woff2') format('woff'),
         url('./fonts/LaBelleAurore-Regular.woff2') format('woff2'),
         url('./fonts/LaBelleAurore-Regular.ttf') format('truetype'),
         url('./fonts/LaBelleAurore-Regular.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: CarterOne;
    src: url("./fonts/CarterOne-Regular.eot");
    src: url('./fonts/CarterOne-Regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/CarterOne-Regular.woff2') format('woff'),
         url('./fonts/CarterOne-Regular.woff2') format('woff2'),
         url('./fonts/CarterOne-Regular.ttf') format('truetype'),
         url('./fonts/CarterOne-Regular.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: var(--bgc);
    overflow-x: none;
}

.wrapper{
    position: relative;
    background-color: var(--bgc);
    height: fit-content;
    width: fit-content;
    overflow: hidden;
}

.pTag::before{
    content: "<p>";
}

.pTag::after{
    content: "</p>";
}

.hTag::before{
    content: "<h1>";
}

.hTag::after{
    content: "</h1>";
}

.styleTag::before{
    content: "<style>"
}

.styleTag::after{
    content: "</style>"
}

.divTag::before{
    content: "<div>"
}

.divTag::after{
    content: "</div>"
}

.tag{
    color: var(--textc);
    font-family: laBelleAurore;
    font-size: var(--tagSize);
    font-weight: normal;
}

.tagTags{
    position: absolute;
    top: 0;
    left: 0;
}

.bottomTags{
    position: absolute;
    bottom: 0;
    left: 0;

}

.topTags::after{
    position: absolute;
    content: "<body>";
    left: 1.5em;
}

.bottomTags::before{
    position: absolute;
    content: "</body>";
    left: 1.5em;
}

.sections{
    height: fit-content;
    overflow: hidden;
    background-color: var(--bgc);
    margin: 8rem 6rem;
    width: fit-content;
}

.maintext{
    text-align: left;
    color: var(--maintxtc);
    font-size: var(--mainTxtSize);
    font-family: CarterOne;
    height: 100%;

}

.textWrapper{
    z-index: 1;
    position: relative;
    width: fit-content;
    height: fit-content;
    margin-left: var(--textWrapperMarginLeft);
    margin-top: 2rem;
    overflow: visible;
    margin-bottom: 3rem;
    transition: all 1s;
    white-space: nowrap;
}

.top{
    margin-top: 1rem;
    position: absolute;
    margin-bottom: 2em;
}

.bottom{
    margin-bottom: 1rem;
    position: absolute;
    bottom: 0;
    margin-top:2em;
}

.sidetext{
    color: var(--sidetxtc);
}

.text{
    transition: 0.5s;
}

.list{
    list-style: none;
    width: 100%;
    height: 12rem;
    overflow: hidden;
    line-height: 4rem;
}

.animationWrapper{
    top: 50%;
    display: flex;
    flex-direction: column;
    height: 4rem;
}

.brackets{
    text-align: left;
    color: var(--maintxtc);
    font-size: 3rem;
    font-family: Consolas;
    height: 100%;
    display: inline-block;
    font-size: var(--bracketfontsize);
}

.dynamic-text{
    margin-left: 0.3rem;
    font-family: Consolas;
    position: relative;
    color: var(--ncol);
}

.dynamic-text::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-left: 0.1rem solid var(--ncol);
    background: var(--bgc);
    animation: typing 1.5s steps(14) infinite;
}

ul.animationWrapper .element{
    position: relative;
    top: 0;
    animation: nextElement 6s steps(4) infinite;
    display: flex;
}

.navbar{
    width: var(--navbarwidth);
    height: 100%;
    background-color: var(--containerblack);
    position: fixed;
    top: 0;
    left: 0;
    margin-right: var(--navbarmargin);
    z-index: 3;
    transition: all 1s;
}

.navbar .list{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.navbar .list .element .link{
    color: var(--ncol);
    text-align: center;
    font-size: var(--navbarfontsize);
}

.navbar .list .element{
    left: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.container{
    width: 20rem;
    height: 15rem;
    background-color: var(--containerblack);
    -webkit-box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
    margin: 2rem;
}

.sectionWrapper{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.mainsection{
    height: 100vh;
}


@keyframes typing {
    100%{
        left:110%;
    }
}

@keyframes nextElement{
    100%{
        top: -16rem;
    }
}

@media screen and (max-width: 930px) {
    :root{
        --mainTxtSize: 4rem;
        --bracketfontsize: 2rem;
    }
} 

@media screen and (max-width: 730px){
    :root{
        --navbarwidth: 0rem;
        --mainTxtSize: 3rem;
        --bracketfontsize: 1.5rem;
        --textWrapperMarginLeft: 1.5rem;
    }
    .navbar{
        left: -10rem;
    }
}

@media screen and (max-width: 690px){
    
}